# ==================================================
# Git Attributes
# Gitの改行コードや差分管理ルール
# ==================================================


# ==================================================
# テキストファイル
# Git管理時はLFへ統一
# ==================================================
* text=auto eol=lf


# ==================================================
# バイナリファイル
# 差分比較しない
# ==================================================
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary


# ==================================================
# Shell Script
# ==================================================
*.sh text eol=lf


# ==================================================
# Windows Script
# ==================================================
*.bat text eol=crlf
*.cmd text eol=crlf


# ==================================================
# Docker
# ==================================================
Dockerfile text eol=lf


# ==================================================
# YAML
# ==================================================
*.yml text eol=lf
*.yaml text eol=lf


# ==================================================
# Markdown
# ==================================================
*.md text eol=lf


# ==================================================
# Java / TypeScript
# ==================================================
*.java text eol=lf
*.kt text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
