# ==================================================
# Git Ignore File
# Gitの管理から除外するファイルやディレクトリを指定する
# ==================================================


# ==================================================
# Node
# ==================================================
node_modules/
dist/
build/
.next/
coverage/


# ==================================================
# Java / Spring Boot
# ==================================================
target/
out/
bin/
.gradle/
*.class
*.jar
*.war

!gradle/wrapper/gradle-wrapper.jar
!gradlew
!gradlew.bat

# ==================================================
# Logs
# ==================================================
logs/
*.log


# ==================================================
# Environment
# ==================================================
.env
.env.dev
.env.prod
.env.local


# ==================================================
# IDE
# ==================================================
.vscode/
.idea/
.project
.classpath
.settings/


# ==================================================
# OS
# ==================================================
.DS_Store
Thumbs.db


# ==================================================
# Generated
# ==================================================
generated/


# ==================================================
# Temporary
# ==================================================
tmp/
temp/
