# ==================================================
# Git Ignore File
# Gitの管理から除外するファイルやディレクトリを指定する
# ==================================================


# ==================================================
# Node
# ==================================================
node_modules/
dist/
build/
.next/
coverage/


# ==================================================
# Java / Spring Boot
# ==================================================
target/
out/
bin/
.gradle/
*.class
*.jar
*.war

!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!apps/api/gradle/wrapper/gradle-wrapper.jar

# ==================================================
# Logs
# ==================================================
logs/
*.log


# ==================================================
# Environment
# ==================================================
.env*
!.env.example


# ==================================================
# IDE
# ==================================================
.vscode/
.idea/
.project
.classpath
.settings/


# ==================================================
# OS
# ==================================================
.DS_Store
Thumbs.db


# ==================================================
# Generated
# ==================================================
generated/
*.tsbuildinfo


# ==================================================
# Temporary
# ==================================================
tmp/
temp/
